.index {

    background-color: black;
    height: 100%;

  h1 {
    font-size: 7em;
    color: white;
    font-family: 'Inknut Antiqua', serif;
  }

  p {
    font-size: 2em;
    color: white;
    margin-top: 1em;
  }

  @media only screen and (max-width: 600px) {

    .container {
      padding: 10% !important;
    }

    h1 {
      font-size: 4em;
    }

    p {
      font-size: 1em;
    }

  }

  a {
    color:white;
    text-decoration: underline;
  }

  .container {
    padding: 2%;

    img {
      width: 28%;
      margin-bottom: 2rem;
    }

    .center {
      margin: 0 auto;
    }


  }

    /* Basic background image styling. */
  .background-image {
  	background-position: center center;
  	background-repeat: no-repeat;
  	background-size: cover;
  }

  /* Styles for the alternating / transition effect. */
  .toggle-image {
   	position: absolute;
  	width: 50%;
  	top: 0;
    right:10%;
  	left: 50%;
   	height: 100%;
  	transition: opacity 1s ease-in-out;

    @media only screen and (max-width: 830px) {
      width: 100%;
      top: 480px;
      left: 0;
      margin-top: 20px;
    }

  }

  /* Styles for the specific images. */
  .first-image {
  	background-image: url('/assets/img/ladies-night.jpg');
  	z-index: -5;
  	opacity: 0;
  }

  .second-image {
  	background-image: url('/assets/img/quarterly-1.jpg');
  	z-index: -4;
  	opacity: 0;
  }

  .third-image {
  	background-image: url('/assets/img/sonoma.jpg');
  	z-index: -3;
  	opacity: 0;
  }

  .fourth-image {
  	background-image: url('/assets/img/swell.jpg');
  	z-index: -2;
  	opacity: 0;
  }

  .fifth-image {
  	background-image: url('/assets/img/quarterly-2.jpg');
  	z-index: -1;
  	opacity: 0;
  }

  .first-image.show {
  	opacity: 1;
  }

  .second-image.show {
  	opacity: 1;
  }

  .third-image.show {
  	opacity: 1;
  }

  .fourth-image.show {
  	opacity: 1;
  }

  .fifth-image.show {
  	opacity: 1;
  }

}
