.index {

  h1 {
    font-size: 5rem;
    color: red;
    font-family: 'Inknut Antiqua', serif;
  }

  a {
    color:black;
    text-decoration: underline;
  }

  .container {
    margin: 0 auto;
    max-width: 1200px;
    margin-top:10%;
    padding: 0 5%;

    img {
      width: 20%;
      margin-bottom: 20px;
    }


  }

    /* Basic background image styling. */
  .background-image {
  	background-position: center center;
  	background-repeat: no-repeat;
  	background-size: cover;
  }

  /* Styles for the alternating / transition effect. */
  .toggle-image {
   	position: absolute;
  	width: 50%;
  	top: 0;
    right:10%;
  	left: 50%;
   	height: 100%;
  	transition: opacity 1s ease-in-out;

    @media only screen and (max-width: 830px) {
      width: 100%;
      top: 480px;
      left: 0;
      margin-top: 20px;
      // margin: 20px;
    }

  }

  /* Styles for the specific images. */
  .first-image {
  	background-image: url('/assets/img/ladies-night.jpg');
  	z-index: -5;
  	opacity: 0;
  }

  .second-image {
  	background-image: url('/assets/img/quarterly-1.jpg');
  	z-index: -4;
  	opacity: 0;
  }

  .third-image {
  	background-image: url('/assets/img/sonoma.jpg');
  	z-index: -3;
  	opacity: 0;
  }

  .fourth-image {
  	background-image: url('/assets/img/swell.jpg');
  	z-index: -2;
  	opacity: 0;
  }

  .fifth-image {
  	background-image: url('/assets/img/quarterly-2.jpg');
  	z-index: -1;
  	opacity: 0;
  }

  .first-image.show {
  	opacity: 1;
  }

  .second-image.show {
  	opacity: 1;
  }

  .third-image.show {
  	opacity: 1;
  }

  .fourth-image.show {
  	opacity: 1;
  }

  .fifth-image.show {
  	opacity: 1;
  }

}
