.fullscreen-image-slider {

  .orbit {
    :focus {outline:0;}
  }

  .orbit-image {
    width: 100%;
  }


  .orbit-previous,
  .orbit-next {
      p { 
        margin-bottom: 0;
        font-size: 6vw;
      }
  }

  .orbit-caption {
    top: 0;
    // transform: translateY(50%);
    background: none;
    text-align: left;
    color: $white;
    font-weight: bold;
  }
}
