{{!-- This is the base layout for your project, and will be used on every page unless specified. --}}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{meta-title}}</title>
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
    <link href="https://fonts.googleapis.com/css?family=Inknut+Antiqua:700,900|Karla" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="{{root}}assets/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{root}}assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{root}}assets/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="{{root}}assets/img/site.webmanifest">
    <link rel="mask-icon" href="{{root}}assets/img/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <style media="screen">
      body{
        background-color: black;
      }
    </style>

  </head>
  <body>

    {{> body}}

    <script src="{{root}}assets/js/app.js"></script>

    <script>
      function cycleBackgrounds() {
      var index = 0;

      $imageEls = $('.toggle-image'); // Get the images to be cycled.

      setInterval(function () {
        // Get the next index.  If at end, restart to the beginning.
        index = index + 1 < $imageEls.length ? index + 1 : 0;
        // Show the next image.
        $imageEls.eq(index).addClass('show');
        // Hide the previous image.
        $imageEls.eq(index - 1).removeClass('show');

      }, 4000);
      };

      // Document Ready.
      $(function () {
        cycleBackgrounds();
      });
    </script>

  </body>
</html>
