{{!-- This is the base layout for your project, and will be used on every page unless specified. --}}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{meta-title}} | Foundation for Sites</title>
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
    <link href="https://fonts.googleapis.com/css?family=Inknut+Antiqua:700,900|Karla" rel="stylesheet">
  </head>
  <body>

    {{> body}}

    <script src="{{root}}assets/js/app.js"></script>

    <script>
      function cycleBackgrounds() {
      var index = 0;

      $imageEls = $('.toggle-image'); // Get the images to be cycled.

      setInterval(function () {
        // Get the next index.  If at end, restart to the beginning.
        index = index + 1 < $imageEls.length ? index + 1 : 0;
        // Show the next image.
        $imageEls.eq(index).addClass('show');
        // Hide the previous image.
        $imageEls.eq(index - 1).removeClass('show');

      }, 4000);
      };

      // Document Ready.
      $(function () {
        cycleBackgrounds();
      });
    </script>

  </body>
</html>
