<div class="work-feature-block">
  <div class="columns medium-4">
    <h2 class="work-feature-block-header">{{project-description}}</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sodales diam ac hendrerit aliquet. Phasellus pretium libero vel molestie maximus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis est quam. Aenean blandit a urna laoreet tincidunt.</p>
  </div>
  <div class="columns medium-8">
    <img class="work-feature-block-image" src="{{work-image}}"/>
    <img class="work-feature-block-image" src="{{work-image2}}"/>
    <img class="work-feature-block-image" src="{{work-image3}}"/>
  </div>
</div>
