
<div class="container">
  <div class="work-feature-block">
    <div class="columns medium-4">
      <h1 class="work-feature-block-header">{{project-title}}</h1>
      <p>{{project-description}}</p>
    </div>
    <div class="columns medium-8">
      <img class="work-feature-block-image" src="{{work-image1}}"/>
      <img class="work-feature-block-image" src="{{work-image2}}"/>
      <img class="work-feature-block-image" src="{{work-image3}}"/>
      <img class="work-feature-block-image" src="{{work-image4}}"/>
      <img class="work-feature-block-image" src="{{work-image5}}"/>
      <img class="work-feature-block-image" src="{{work-image6}}"/>
      <img class="work-feature-block-image" src="{{work-image7}}"/>
      <img class="work-feature-block-image" src="{{work-image8}}"/>
    </div>
  </div>
</div>
